<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat da burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		<div align="center">
			<img src="/assets/img/hamburger.png" width="200" height="200">
			<h2>Eat-da-Burger!</h2>
		{{{ body }}}
		</div>
	</body>
</html>
